In [88]:
path = r'C:\Users\97250\Desktop\PythonAdvancedProgramming.xlsx'

In [89]:
import pandas as pd

In [90]:
data = pd.read_excel(path)

In [91]:
data.set_index('ID',inplace=True)

In [92]:
data

      gender  Java  Python  Math  Physics region
ID
1111    male    80     100    80      100   צפון
2222    male    70      90    70       90   דרום
3333    male    69      80    69       80   מרכז
4444    male    68      70    40       99   צפון
5555    male    45      80    92       58   דרום
6666  female    52      70    98       45   מרכז
7777  female   100      69    76       76   צפון
8888  female    90      68    45       98   דרום
9999  female    80      45    58       92   מרכז
9990  female    70      52    99       40   צפון

In [93]:
def agg(colum ,k='mean'):
    """
    Aggregation function.
    """
    agg = data.groupby(colum)
   
    agg = agg.sum() if k=='sum' else agg.mean() if k=='mean' else agg.count()
    
    return agg

In [94]:
data.mean()

Java       72.4
Python     72.4
Math       72.7
Physics    77.8
dtype: float64

In [95]:
data.max()[1:-1]

Java       100
Python     100
Math        99
Physics    100
dtype: object

In [96]:
data[data['Java']<59].index

Int64Index([5555, 6666], dtype='int64', name='ID')

In [97]:
data['programming'] = data[['Python','Java']].apply(lambda x : round((x[0]+x[1])/2,3) ,axis=1)

In [98]:
maxGrade = data['programming'].sort_values().iloc[-1]

In [99]:
data[data['programming']==maxGrade].index

Int64Index([1111], dtype='int64', name='ID')

In [100]:
data['Math-Physics'] = data[['Math','Physics']].apply(lambda x : round((x[0]+x[1])/2,3) ,axis=1)

In [101]:
data['WeightedGradeAvg'] = data[['Math-Physics','programming']].apply(lambda x : round((x[0]*0.3+x[1]*0.7),2) ,axis=1)

In [102]:
data.sort_values(by = 'WeightedGradeAvg',ascending=False)

,gender,Java,Python,Math,Physics,region,programming,Math-Physics,WeightedGradeAvg
ID,,,,,,,,,
1111,male,80,100,80,100,צפון,90.0,90.0,90.00
7777,female,100,69,76,76,צפון,84.5,76.0,81.95
2222,male,70,90,70,90,דרום,80.0,80.0,80.00
8888,female,90,68,45,98,דרום,79.0,71.5,76.75
3333,male,69,80,69,80,מרכז,74.5,74.5,74.50
4444,male,68,70,40,99,צפון,69.0,69.5,69.15
5555,male,45,80,92,58,דרום,62.5,75.0,66.25
9999,female,80,45,58,92,מרכז,62.5,75.0,66.25
6666,female,52,70,98,45,מרכז,61.0,71.5,64.15
9990,female,70,52,99,40,צפון,61.0,69.5,63.55

In [103]:
data[(data['Java']>80) & (data['Math']<70)].index

Int64Index([8888], dtype='int64', name='ID')

In [104]:
import numpy as np

In [110]:
data['GradeAVG'] = data[['Math-Physics','programming']].apply(lambda x : round((x[0]+x[1])/2,2) ,axis=1)

In [114]:
agg('region')['GradeAVG']

region
דרום    74.666667
מרכז    69.833333
צפון    76.187500
Name: GradeAVG, dtype: float64

In [115]:
agg('gender')['GradeAVG']

gender
female    71.15
male      76.50
Name: GradeAVG, dtype: float64

In [116]:
#  The *males* have higher Grade-AVG.(It's Info-Sys after all...)